@import "../../../styles/variables";

.txt_search_results {
  font-family: $font-poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;

  @media (max-width: 768px) {
    display: none;
  }
}

.mb_cards_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
