.ant-picker:hover{
    border: 1px solid #E7E7E7 !important;
    outline: none !important;
}

.ant-picker-focused{
    border: 1px solid #E7E7E7 !important;
    outline: none !important;
}

.ant-picker .ant-picker-input >input {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #999999;
}